<% if (user) { %>
  <form method="POST" action="/users/<%= user.id %>">
  // 'hidden' its not going to be something that the user inputs themselves it will not display on the form
    <input type="hidden" name="_method" value="put">
    <input type="text" name="firstName" placeholder="First Name" value="<%= user.firstName %>">
    <input type="text" name="lastName" placeholder="Last Name" value="<%= user.lastName %>">
    <input type="email" name="email" placeholder="Email" value="<%= user.email %>">
    <button>Update</button>
  </form>
<% } else { %>
  <em>User not found. Soz.</em>
<% } %>
