<form class="" action="/sessions" method="post">
  <label for="">Email</label>
  <input id="eamil" type="email" name="email">

  <label for="">Password</label>
  <input id = "password" type="password" name="password" placeholder="not currently in use">

  <button> Log In</button>
</form>
