<!DOCTYPE html>
<!-- 'ng-app="My First App"' corresponds to 'My First App in the app.js file', will be looking in the DOM for the attribute 'My First App', 'ng' is an indicator that it is something to do with angular -->
<html lang="en" ng-app ="myFirstApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Angular intro</title>
  <script src="bower_components/angular/angular.min.js" charset="utf-8"></script>
  <script src="app.js" charset="utf-8"></script>
  <script src="controllers/home.controller.js" charset="utf-8"></script>

<style media="screen">
  .isVisible {
    color: green;
  }
  .isNotVisible {
    color: red;
  }
</style>

</head>
<!-- within the code i have defined the HomeController so this will be refernced to it   -->
<body ng-controller="HomeController as home">
  <h1>{{ home.title }}</h1>

  <p>Trainers:</p>
  <ul>
    <li ng-repeat="trainer in home.trainers">{{ trainer }}</li>
  </ul>

<h2>Add a trainer</h2>
<form>
  <input type="text" ng-model="home.newTrainerName">
  <button type="button" ng-click="home.addTrainer(newTrainer)">Add</button>
</form>


  <p>Trainees:</p>
  <ul>
    <li ng-repeat="trainee in home.trainees">{{ trainee }}</li>
  </ul>

<p>
  <a href="#" ng-click="home.showGonzo($event) "> Show me gonzo!</a>
  <a href="#" ng-click="home.hideGonzo()"> Hide me gonzo!</a>
  <a href="#" ng-click="home.toggleGonzo()"> Toggle me gonzo!</a>
  <span ng-class="{'isVisible': home.isGonzoVisible(),'isNotVisible': !home.isGonzoVisible()}">Gonzo is visible</span>


</p>

<img
  src="http://vignette1.wikia.nocookie.net/muppet/images/3/31/Gonzo-TheVoice-2012.jpg"
  height="200px"
  ng-if="home.isGonzoVisible()"
  ng-mouseover="home.hideGonzo()"/>

</body>
</html>
