<%# THIS IS A FORM TO EDIT A BOOK%>
<% if (book) { %>
  <form method="put" action="/users/<%= user.id %>">
<input type="hidden" name="_method" value="put">

    <label for="title">Title</label>
    <input id="title" type="text" name="title" placeholder="the book's title" value="<%= title.author %>">

      <label for="title">Author</label>
    <input id="author" type="text" name="author" placeholder="the book's author" value="<%= book.author %>">

    <button>Update</button>
  </form>
<% } else { %>
  <em>Book not found. Soz.</em>
<% } %>
